@font-face {
    font-family: 'Manrope';
    src: url('/landing-fonts/manrope-variable.woff2') format('woff2');
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope:Medium';
    src: url('/landing-fonts/manrope-variable.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope:SemiBold';
    src: url('/landing-fonts/manrope-variable.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope:Bold';
    src: url('/landing-fonts/manrope-variable.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Involve:SemiBold';
    src: url('/landing-fonts/manrope-variable.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Involve:Bold';
    src: url('/landing-fonts/manrope-variable.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
