.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: var(--radius-button-small);
  color: var(--color-text-muted);
}

.root svg {
  width: 20px;
  height: 20px;
}
