.root {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.heading {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  color: var(--color-text);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 767px) {
  .root {
    gap: 32px;
  }
}
