.root {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.heading {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  color: var(--color-text);
}

@media (max-width: 767px) {
  .root {
    min-height: calc(100vh - 84px - 96px);
  }

  .heading {
    font-size: 20px;
    line-height: 22px;
  }
}
