.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  margin: 0;
  font-size: var(--font-size-text-l);
  font-weight: 600;
  line-height: var(--line-height-text-l);
  color: var(--color-text);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
