.root {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.heading {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  color: var(--color-text);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.error {
  margin: 0;
  color: #ff4646;
  font-size: 14px;
  line-height: 18px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 767px) {
  .root {
    min-height: calc(100vh - 84px - 96px);
  }

  .fields {
    flex: 1;
  }

  .footer {
    position: sticky;
    bottom: 20px;
  }

  .heading {
    font-size: 20px;
    line-height: 22px;
  }
}
