.root {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.heading {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: var(--color-text);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dateRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.emptyLink {
    align-self: flex-start;
    margin-top: -12px;
}

.submit {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.error {
    margin: 0;
    font-size: var(--font-size-text-m);
    line-height: var(--line-height-text-m);
    color: var(--color-error);
    text-align: center;
}

@media (max-width: 767px) {

    .fields {
        flex: 1;
    }

    .submit {
        position: sticky;
        bottom: 20px;
    }
}
