.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: var(--color-text);
}

.count {
  color: #8d8f92;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  text-decoration: none;
}
