.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 24px;
  height: 88px;
  border: 1px solid var(--color-secondary-hover);
  border-radius: 24px;
  background: var(--color-white);
  box-shadow: none;
}

.title {
  font-size: var(--font-size-text-m);
  font-weight: 500;
  line-height: var(--line-height-text-m);
  color: var(--color-text);
}
