.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 767px) {
  .actions {
    position: sticky;
    bottom: 20px;
    padding-top: 12px;
    background: var(--color-white);
  }
}
